* {
  margin: 0;
  padding: 0;
  font-family: Courier New;
  border: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-size: 3.6vmin;
  transform-style: preserve-3d;
  transform: perspective(calc(100vmax *7.5));
  transition: transform 1s linear;
}

body {
  
}

form {
  position: relative;
}

#google {
  position: absolute;
  width: 75vmin;
  aspect-ratio: 1;
  border: none;
  background: white;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/archive/5/53/20210618182605%21Google_%22G%22_Logo.svg");
  background-color: rgb(0 0 0 0);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%);
}

#google:hover{
  transform: translateZ(25vmin) rotateX(1turn) perspective(100vmax);
  filter: brightness(100%);
  filter: grayscale(25%);
}

#google:active {
  filter: grayscale(10%);
  transform: translateZ(-25vmin) perspective(100vmax);
}

#google:focus {
  outline: none;
  filter: grayscale(10%);
}

#google:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}
/*
:is(stator, rotor) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

rotor {
  flex-grow: 0;
  margin: .2vmin .2vmin;
  background-color: hsl(33, 6%, 25%);
}

.collapsed {
  flex-grow: 0;
}

.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  background: none;
  color: yellow;
  cursor: pointer;
}
fieldset {
  border: .25vmin solid green;
  border-radius: .25vmin;
  display: flex;
  max-height: 50vh;
  flex-direction: column;
  overflow: hidden;
}
.CodeMirror {
  height: 100% !important;
}

.editor,
iframe {
  flex-grow: 1;
  overflow: hidden;
  border: 0.1vmin solid orange;
  border-radius: 2.5vmin;
  touch-action: none;
}

iframe {
  border: none;
}

@media (orientation: portrait) {
  stator {
    flex-direction: column;
  }

  rotor {
    min-height: 50vh;
    height: 50vh;
    max-height: 50vh;
  }

  :is(.editor, .editor:focus) {
    width: 100vw;
  }
}

@media (orientation: landscape) {
  stator {
    flex-direction: row;
  }

  rotor {
    max-width: 50vw;
  }

  :is(.editor, .editor :focus) {
    width: 49vh;
  }
}
*/
logout {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5vmin;
}
