* {
  margin: 0;
  padding: 0;
  font-family: Courier New;
  border: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-size: 3.6vmin;
  line-height: 3.6vmin;
}

body, #root {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: black;
}

:is(stator, rotor) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
:is(stator, rotor) > * {
  flex-grow: 1;
}
rotor {
  position: relative;
  width: 100%;
  height: 100%;
  margin: .5vmin;
}
user {
  display: inline-flex;
  width: 100%;
}
.CodeMirror {
  height: 100% !important;
}

.editor,
iframe {
  overflow: hidden;
  border: 0.1vmin solid orange;
  border-radius: 2.5vmin;
  touch-action: none;
  width: 100%;
  max-width: 100%;
}

iframe {
  margin: .5vmin;
  border-radius: .5vmin;
}

@media (orientation: portrait) {
  stator {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  stator{
    flex-direction: row;
  }
}

logout {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5vmin;
}

#gbtn {
  aspect-ratio: 1;
  filter: drop-shadow(0px 0px .5vmin #aaa);
}

#gbtn:hover {
  filter: drop-shadow(0px 0px .5vmin #aaa);
}

#gbtn:active {
  background-color: #eeeeee;
}

#gbtn:focus {
  outline: none;
  filter: drop-shadow(0px 0px .5vmin #aaa);
}

#gbtn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  filter: drop-shadow(0px 0px .5vmin #aaa);
  cursor: not-allowed;
}
