* {
  margin: 0;
  padding: 0;
  font-family: Courier New;
  border: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-size: 3.6vmin;
}

body, #root, form {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

:is(stator, rotor, form) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

:is(stator, rotor) > *, :is(stator, rotor) > * > * {
  flex-grow: 1;
  line-height: 100%;
  width: 100%;
  height: 100%;
}

h1 {
  line-height: 25vmin;
  height: 25vmin;
}
rotor {
  position: relative;
  width: 100%;
  height: 100%;
  margin: .5vmin;
}

.CodeMirror {
  height: 100% !important;
}

.editor,
iframe {
  overflow: hidden;
  border: 0.1vmin solid orange;
  border-radius: 2.5vmin;
  touch-action: none;
  width: 100%;
  max-width: 100%;
}

iframe {
  margin: .5vmin;
  border-radius: .5vmin;
}

@media (orientation: portrait) {
  stator, form {
    flex-direction: column;
  }

  :is(.editor, .editor:focus) {
    
  }
}

@media (orientation: landscape) {
  stator, form {
    flex-direction: row;
  }

  :is(.editor, .editor :focus) {
    
  }
}

logout {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5vmin;
}

#gbtn {
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-weight: 500;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/archive/5/53/20210618182605%21Google_%22G%22_Logo.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#gbtn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

#gbtn:active {
  background-color: #eeeeee;
}

#gbtn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

#gbtn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
