* {
  transition: .5s linear;
}

.homePageWrapper {
    display: flex;
    color: hsl(0, 0%, 100%);
}

.formWrapper {
    position: fixed;
    top: 12.5vh;
    right: 12.5vw;
    bottom: 12.5vh;
    left: 12.5vw;
    background: hsla(30, 100%, 36%, 0.226);
    padding: 2.5vmin;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer a {
    color: hsl(48, 100%, 50%);
}

.inputGroup, .inputBtnGroup {
    display: flex;
    flex-direction: column;
}

.inputBtnGroup {
    flex-direction: row-reverse;
}

input {
    outline: none;
    border: none;
    margin: 1.25%;
    padding: 2.5%;
    background: hsla(0, 0%, 100%, 0.75);
    font-weight: bold;
}

input[type="button"] {
    cursor: pointer;
    background: #0000;
    color: hsl(0, 0%, 100%);
    border-top: 1vmin solid hsl(30, 100%, 50%);
    border-bottom: 1vmin solid hsl(120, 100%, 40%);
    transition: all 0.3s ease-in-out;
}


.createNewBtn:hover,
footer a:hover {
    color: hsla(30, 43%, 37%, 0.436);
    border-color: hsla(30, 43%, 37%, 0.55);
}

.mainWrap {
    display: grid;
    position: fixed;
    top: 1%;
    right: 1%;
    bottom: 1%;
    left: 1%;
    grid-template-columns: 1fr;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
}

.client {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


.CodeMirror {
    min-height: 74vh;
    min-width: 100%;
    line-height: 1.6;
}

iframe {
  min-height: 24vh;
  width: 100%;
}

.aside{
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 100;
  overflow: hidden;
  width: 10vh;
  height: 10vh;
}

.aside:hover{
  width: 80%;
  height: 80%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
    overflow: hidden;
    flex-direction: column;
}

.aside:hover > div {
  width: 100%;
    margin: .5%;
}

.aside:hover > button {
  width: 80%;
  font-size: 125%;
  font-weight: border;
  padding: 1%;
  margin: 1%;
}

.aside:hover > #copy:hover {
  background: green;
  color: white;
}
.aside:hover > #leave:hover {
  background: red;
  color: white;
}

.aside:hover > img {
  width: 25vmin;
}
.inputBox:focus {
  outline: .125vmin solid hsl(39, 100%, 50%);
}

body:has(.inputBox:invalid, .inputBox:placeholder-shown) #join{
  pointer-events: none;
  color: hsl(0, 0%, 0%);
  opacity: .5;
}

.inputBtnBox:focus {
  outline: 1px solid hsl(120, 100%, 25%);
}

body:has(#id:not(:placeholder-shown)) #new {
  pointer-events: none;
  color: hsl(0, 0%, 0%);
  opacity: .5;
}

.logoImage {
  width: 90%;
  aspect-ratio: 1;
  margin: 2.5%;
}

.editorWrap {
  display: flex;
  justify-content: space-between;
    align-items: center;
    align-content: baseline;
    overflow: hidden;
    flex-direction: column;
  
}