* {
  touch-action: none;
  box-sizing: border-box;
  font-family: Courier New;
}

body {
  margin: 0.5%;
  padding: 0.5%;
  font-family: "Courier New";
  background: hsla(0, 0%, 0%, 0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  border-radius: 1.5vmin;
  transition: 0.5s linear;
}

.homePageWrapper {
  display: flex;
  color: hsl(0, 0%, 100%);
}

.formWrapper {
  position: fixed;
  top: 12.5vh;
  right: 12.5vw;
  bottom: 12.5vh;
  left: 12.5vw;
  background: hsla(30, 100%, 36%, 0.226);
  padding: 2.5vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer a {
  color: hsl(48, 100%, 50%);
}

.inputGroup,
.inputBtnGroup {
  display: flex;
  flex-direction: column;
}

.inputBtnGroup {
  flex-direction: row-reverse;
}

input {
  outline: none;
  border: none;
  margin: 1.25%;
  padding: 2.5%;
  background: hsla(0, 0%, 100%, 0.75);
  font-weight: bold;
}

input[type="button"] {
  cursor: pointer;
  background: #0000;
  color: hsl(0, 0%, 100%);
  border-top: 1vmin solid hsl(30, 100%, 50%);
  border-bottom: 1vmin solid hsl(120, 100%, 40%);
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: hsla(30, 43%, 37%, 0.436);
  border-color: hsla(30, 43%, 37%, 0.55);
}

.mainWrap {
  display: grid;
  position: fixed;
  top: 0.5%;
  right: 0.5%;
  bottom: 0.5%;
  left: 0.5%;
  grid-template-columns: 1fr;
}

.aside {
  border: 0.5vmin solid gray;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 100;
  overflow: hidden;
  width: 7.5vmax;
  height: 7.5vmax;
}

.asideInner {
  margin: 1vmin;
  padding: 1vmin;
  border: 0.25vmin solid orange;
  flex: 1;
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmin;
}

.client {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.CodeMirror {
  min-height: 59vh;
  min-width: 100%;
  line-height: 1.6;
}

iframe {
  min-height: 39vh;
  width: 100%;
}

.aside:hover {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: baseline;
  overflow: hidden;
  flex-direction: column;
  background: hsla(160, 100%, 20%, 0.1);
}

.aside:hover > div {
  width: 100%;
  margin: 0.5%;
}

.aside:hover > button {
  width: 80%;
  font-size: 125%;
  font-weight: border;
  padding: 1%;
  margin: 1%;
}

.aside:hover > #copy:hover {
  background: green;
  color: white;
}

.aside:hover > #leave:hover {
  background: red;
  color: white;
}

.aside:hover > img {
  width: 25vmin;
}

input:focus {
  outline: 0.125vmin solid hsl(39, 100%, 50%);
}

body:has(input[type="text"]:invalid, input[type="text"]:placeholder-shown) #join {
  pointer-events: none;
  color: hsl(0, 0%, 0%);
  opacity: 0.5;
}

body:has(#id:not(:placeholder-shown)) #new {
  pointer-events: none;
  color: hsl(0, 0%, 0%);
  opacity: 0.5;
}

img {
  width: 90%;
  aspect-ratio: 1;
  margin: 2.5%;
}

.editorWrap {
  display: flex;
  align-items: center;
  align-content: space-between;
  overflow: hidden;
  flex-direction: column;
}

.client {
  border: 1px solid hsl(33, 100%, 50%);
  display: flex;
  flex-wrap: wrap;
  padding: 1vmin;
  align-items: center;
}

h3 {
  text-align: center;
  margin: 0.5vmin;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .aside:hover {
    -webkit-backdrop-filter: blur(0.25vmax);
    backdrop-filter: blur(0.25vmax);
  }
}

.formWrapper > header {
  display: flex;
  justify-content: space-around;
}
.formWrapper > header > img {
  width: 10vmax;
  height: 10vmax;
}

.vin {
  position: absolute;
  z-index: 100;
  width: 7.5vmax;
  height: 7.5vmax;
  bottom: 1vmin;
  border: .5vmin solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
}





